.task-link-item-dropdown-wrapper {
  position: relative;
}

.task-link-item-dropdown {
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  border: 2px solid #94c0c2;
}

.task-link-item-dropdown app-help-icon {
  margin-left: auto;
  margin-right: 4px;
}

.task-link-item-dropdown-menu {
  position: absolute;
  padding: 0.25em;
  border: 2px solid #94c0c2;
  visibility: hidden;
  left: 0;
  margin-top: 4px;
  width: 100%;
}

.task-link-item-dropdown-menu--visible {
  visibility: visible;
}
